
.btn{
    width: 100px;
    height: 70px;
    background: #F4FA58;
     transition: background 2s;
}

.btn:hover{
    background:#81F781; 
}
.btn:active{
    background: #5a2123
}




.block{
    position: relative;
	width: 200px;
	height: 100px;
    background: red;
	margin-top: 55px;
	margin-left: -20%;
    transition: margin-left 2s ;
    
}
.block:hover {
	margin-left:0;
}





.bg {
	position: absolute;
	margin:50px;
	width: 1000px;
	height: 500px;
	background:url(bg.jpg);
	background-size:cover;
}

@keyframes moveAuto {
	0% {left: 0px;}
  75% {left: 750px;}
  100% {left: 375px;}
}

.auto {
  position: relative;
  margin-top: 400px;
  width: 200px;
  height: 160px;
  background:url(auto.png);
  background-size:cover;
  animation: moveAuto 3s 2s 1 alternate forwards;
		}

.auto:hover {
   animation: moveAuto 3s 2s 1 alternate forwards paused;
}











